# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# Outputs
*.png
